@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 400;

	src: url("fonts/pt-sans-regular.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 700;

	src: url("fonts/pt-sans-bold.woff2") format("woff2");
	font-display: swap;
}

body {
	font-family: "PT Sans", sans-serif;
	font-size: 18px;
	line-height: 21px;
	color: #333333;
	background-color: #E5E5E5;
}

html {
	background-color: #F2F2F2;
}

.page-body {
	width: 1200px;
	margin: 0 auto;
	background: #FFFFFF;
}

.button {
	font-family: inherit;
	font-size: 16px;
	line-height: 16px;
	font-weight: normal;
	text-align: center;
	color: #ffffff;
	background-color: #000000;
	text-decoration: none;
	text-transform: uppercase;
}

.page-header {
	color: #000000;
	background: #FFFFFF;
}

.navigation {
	display: flex;
	justify-content: space-between;
	margin-left: 71px;
	margin-right: 71px;
}

.navigation-list {
	display: flex;
	justify-content: space-between;
	list-style: none;
	align-items: center;
	width: 309px;
	padding: 0; 
	margin: 0;
}

.navigation-listP {
	display: flex;
	justify-content: space-between;
	list-style: none;
	align-items: center;
	width: 250px;
	padding: 0; 
	margin: 0;
}

.navigation-link {
	font-family: "PT Sans", sans-serif;
	font-size: 20px;
	line-height: 26px;
	font-weight: 700;
	text-align: center;
	color: #000000;
	background-color: #ffffff;
	text-decoration: none;
}

.main-welcom {
	display: grid;
	grid-template-columns:repeat(2, 1fr);
	color: #FFFFFF;
	background-color: #E5E5E5;
	text-align: center;
 	background-image: url("../images/index-background.jpg");
	width: 1200px;
	height: 485px;
	margin: auto;

}

.logo-welcome {
	padding: 35px;
	width: 458px;
	height: 352px;
}

.grid-line {
	width: 1200px;
	height: 57px;
}

a.button-navi {
	background: #756257;
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 16px;
	line-height: 21px;
 }

.logo-sedona-town {
	color: #ffffff;
	background-color: #83B3D3;
}

.town-main {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 282px;
	background: #FFFFFF;
	
}

h1 {
	font-family: "PT Sans", sans-serif;
	font-style: normal;
	font-size: 60px;
	line-height: 78px;
	font-style: normal;
	font-weight: bold;
}

h2 {
	font-family: "PT Sans", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	line-height: 36px;
	text-align: center;
	text-transform: uppercase;
}

h3{
	font-family: "PT Sans", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	text-align: center;
	text-align: center;
	text-transform: uppercase;
}

.text-u {
	font-family: "PT Sans", sans-serif;
	font-size: 30px;
	line-height: 36px;
	font-style: normal;
	font-weight: bold;
	color: #000000;
	text-align: center;
	text-transform: uppercase;
}

.text-p {
	font-family: "PT Sans", sans-serif;
	font-style: normal;
	font-weight: normal;
	color: #333333;
	font-size: 22px;
	line-height: 36px;
	text-align: center;
}

.logo-sedona-town {
	text-align: center;
}

.advantages-item {
	text-align: center;
}

.advantages-title {
	font-family: "PT Sans", sans-serif;
	font-size: 24px;
	line-height: 28px;
	text-transform: uppercase;
}

.interested {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	text-align: center;
	height: 417px;
	background: #FFFFFF;
}

.newsletter {
	text-align: center;
}

.logo-sedona-town {
	display: flex;
	max-width: 1200px;
	background-color: #83B3D3;
}

.sedona-town {
	display: flex;
	margin: auto;
	height: 384px;
}

.cont-text {
	font-family: "PT Sans", sans-serif;
	font-style: normal;
	color: #ffffff;
	margin: auto;
	font-weight: normal;
	font-size: 18px;
	font-weight: 21px;
	text-align: center;
}

.devil-bridge {
	display: flex;
	max-width: 1200px;
	background-color: #83B3D3;
}

.bridge-dev {
	display: flex;
	margin: auto;
	height: 384px;
}

.cont-H3 {
	padding-right: 60px;
	padding-left: 60px;
}

.recommendations-block {
	text-align: center;
	
}

.advantages-list {
	display: flex;
	align-items: center;
	list-style: none;
	margin: 0;
	padding: 0;
}

.block-itemP {
	width: 400px;
	height: 384px;
	background-color: rgba(131, 179, 211, 0.12);
}

.block-item {
	width: 400px;
	height: 384px;
}

.advantages-item {
	font-family: "PT Sans", sans-serif;
	font-style: normal;
	color: #000000;
	margin-top: 25%;
}

.advantages {
	margin: 0 auto;
	text-align: center;
}

.advantages-description {
    padding-right: 60px;
    padding-left: 60px;
}

.advantages-title {
	padding-right: 90px;
	padding-left: 90px;
}

.block-itemA {
	
	width: 400px;
	height: 384px;
	background: rgba(131, 179, 211, 0.2);
}


.butt-search {
	font-family: "PT Sans", sans-serif;
	background: #756257;
	border-radius: 10px;
	font-size: 20px;
	line-height: 26px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	text-transform: uppercase;
	width: 575px;
	height: 60px;
	display: block;
	text-align: center;
	line-height: 60px;
	
}

.container-newsletter {
	color: #FFFFFF;
	background-color: #E5E5E5;
 	background-image: url("../images/background.jpg");
	width: 1200px;
	height: 408px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	text-align: center;
}

.mailing-letter {
	
	text-align: center;
}


.mailing-title {
	font-family: "PT Sans", sans-serif;
	font-style: normal;
	font-weight: bold;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
}

.mailing-p {
	font-family: "PT Sans", sans-serif;
	font-style: normal;
	font-weight: normal;
	color: #FFFFFF;
	font-size: 22px;
	line-height: 26px;
	text-align: center;
}

.footer-phone {
	font-family: "PT Sans", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	line-height: 40px;
	color: #000000;
	text-decoration: none;
}

.page-footer {
	margin: 0;
	margin-left: 72px;
	margin-right: 103px;
	font-family: "PT Sans", sans-serif;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	font-size: 40px;
	line-height: 40px;
	color: #FFFFFF;
	background: #FFFFFF;
}

.footer-social-list {
 display: flex;
 justify-content: space-between;
 width: 120px;
 margin-bottom: 55px;

}

/*---------------Работа с каталого--------------------*/

.main-catalog {
	font-family: "PT Sans", sans-serif;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
	background-color: #ffffff;
}

.selection-block {
 	background-image: url("../images/background.jpg");
	color: #FFFFFF;
	height: 408px;
}

.block-rtx {
	display: flex;
	justify-content: space-around;
}

.inner-header-title {
	padding-top: 35px;
	text-indent: 71px;
}

.navigation-it {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	margin: 0;
	color: #ffffff;
}

.navigation-items {
	padding: 10px;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	color: #ffffff;
	text-decoration: none;
}

.block-post {
	display: flex;
	justify-content: space-around;
	padding-top: 44px;
	
}

 .abode {
	 display: flex;
	 margin-top: 44px;
 }


.butt-control-block {
	text-align: center;
}

.price-control {
	display: block;
	overflow: hidden;
	list-style: none;
	padding: 3px 0 0 3px;
	
}

.price-control li {
	box-sizing: border-box;
	text-align: center;
	padding: 10px;
	float: left;
	margin: -3px -3px 0 0;    
	width: 205px;
	height: 45px;
	border: 2px solid #ffffff;
}

/*
  ------------------Муню каталога-----------------
*/
.menu-hotel {
	display: grid;
	grid-template-columns: 1056px 1056px 1056px 1056px;
	grid-template-columns: 1fr;
	width: 1056px;
	margin-top: 42px;
	margin-left: 72px;
}

.abode {
	display: grid;
	grid-template-columns: 200px 600px 100px;
	gap: 36px;
	align-items: center;
	background-color: #ffffff;
}

.info-abode {
	text-align: left;
}

.butt-sh-more {
	text-align: center;
}

.block-r {
	margin-top: 31px;
	margin-left: 72px;
	margin-right: 72px;
	margin-bottom: 89px;
 	display: flex;
	justify-content: space-between;
}

.sorting {
	font-family: "PT Sans", sans-serif;
	font-size: 30px;
	line-height: 39px;
	color: #000000;
	font-weight: bold;
	text-transform: uppercase;     
}

.button-controls {
	background-color: #ffffff;
}

.visually-hidden {
	background-color: #E5E5E5;
}

.information {
	font-family: "PT Sans", sans-serif;
	font-size: 20px;
	line-height: 26px;
	color: #333333; 
}

.rating {
	font-family: "PT Sans", sans-serif;
	background-color: #F2F2F2;
   border: none;
   color: #333333;
   width: 160px;
	height: 37px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
}

.buttons {
	font-family: "PT Sans", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 21px;
	text-transform: uppercase;
	line-height: 40px;
}

.more-details {
	background-color: #756257;
   border: none;
   color: #ffffff;
   width: 151px;
	height: 37px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
}

.more-favorites {
	background-color: #83B3D3;
   border: none;
   color: #ffffff;
   width: 160px;
	height: 37px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
}

.rating {
	background: #ffffff;
}

.rating-item {
	margin: auto;
	text-align: center;
}

.rating-result span {
	padding: 0;
	font-size: 18px;
}
.rating-result > span:before {
	content: '★';
}
.rating-result > span.active {
	background-color: #ffffff;
	color: #83B3D3;
}

.button-show-more {
	font-family: "PT Sans", sans-serif;
   border: none;
	font-size: 20px;
	line-height: 26px;
   color: #ffffff;
	text-transform: uppercase;
	font-style: normal;
	font-weight: bold;
   width: 625px;
	height: 55px;
   text-decoration: none;
   display: inline-block;
	background-color: #83B3D3;
	border-radius: 4px;
	margin-top: 33px;
	line-height: 60px;
}

.newsletter {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.page-mail-title {
	font-family: "PT Sans", sans-serif;
	font-size: 30px;
	line-height: 36px;
	font-style: normal;
	font-weight: bold;
	color: #000000;
	text-align: center;
	text-transform: uppercase;
}

.mail-title{
	font-family: "PT Sans", sans-serif;
	font-size: 22px;
	line-height: 26px;
	text-align: center;
	color: #333333;
}


.field {
	font-family: "PT Sans", sans-serif;
	background: #F2F2F2;
	width: 600px;
	height: 60px;
	font-size: 18px;
	line-height: 26px;
	color: #000000;
	font-style: normal;
}

.newsletter-button {
	font-family: "PT Sans", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 26px;
	align-items: center;
	text-align: center;
	color: #FFFFFF;
	text-transform: uppercase;
	width: 200px;
	height: 60px;
	background-color: #f1f1f1;
	background: #83B3D3;
}

.btn {
	font-family: PT Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 26px;
	color: #FFFFFF;
	border: none;
	outline: none;
	padding: 15px 20px;
	background-color: #83B3D3;
	cursor: pointer;
 }

 .active, .btn:hover {
	background-color: #F2F2F2;
	color: #000000;
 }

 .hotels-page {
	font-family: "PT Sans", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 23px;
	color: #333333;
 }

 #hotel-number {
	font-family: "PT Sans", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 23px;
	width: 160px;
	height: 48px;
	color: #000000;
	border: 2px solid #E6E6E6;
	box-sizing: border-box;
	border-radius: 4px;
 }

 
