@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 400;

	src: url("../fonts/ptsans-400.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 700;

	src: url("../fonts/ptsans-700.woff2") format("woff2");
	font-display: swap;
}


body {
	font-family: "PT Sans", sans-serif;
	font-size: 18px;
	line-height: 21px;
	color: #333333;
	background-color: #E5E5E5;
}

html {
	background-color: #F2F2F2;
}

.wrap {
	padding-left: 57px;
	padding-right: 60px;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.modal-container {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	width: 100%;
	height: 100%;
	background: rgba(242, 242, 242, 0.8);
}

.modal-container-close {
	display: none;
}

.prodi {
	display: flex;
	justify-content: space-between;
	margin-bottom: 54px;
	margin-top: 62px;
	
}

.modal-form-item {
	display: flex;
	position: relative;
	margin-bottom: 38px;
}

.form {
	margin-left: 70px;
	margin-right: 70px;
}

.text-modal-error {
	position: absolute;
	top: 44px;
	left: 155px;
	font-family: "PT Sans", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 40px;
	color: #FF5757;
}

.text-modal-info {
	position: absolute;
	top: 44px;
	left: 155px;
	font-family: "PT Sans", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 40px;
	align-items: center;
	color: #333333;
}

.modal-form-proos {
	position: relative;
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
}

.info-modal {
	display: flex;
	font-family: "PT Sans", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 40px;
	margin: 0;
	align-items: center;
	color: #000000;
	width: 155px;
}

.info-modal-child {
	font-family: "PT Sans", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 40px;
	display: flex;
	align-items: center;
	color: #000000;
	width: 60px;
	margin: 0;
	margin-right: 40px;
}

.item-pix {
	position: absolute;
	top: 29px;
	left: 50px;
	content: "";
	box-sizing: border-box;
	border: solid transparent 17px;
	border-bottom: solid #333333 17px;  
	
	 
 }

.info-item {
	position: absolute;
	top: 16px;
	left: 55px;
   width: 25px;
   height: 25px;
   text-align: center;
   border-radius: 50%;
   background: #83B3D3;
}

.pup-info-item {
	position: absolute;
	top: 56px;
   left: -60px;
	font-family: "PT Sans", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	align-items: center;
	padding-top: 19px;
	padding-left: 22px;
	padding-right: 18px;
	padding-bottom: 17px;
	color: #ffffff;
	width: 215px;
	height: 107px;
	background: #333333;
	box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
}

.input-menu {
	box-sizing: border-box;
   flex-grow: 1;
	height: 52px;
	padding-left: 19px;
	background: #F2F2F2;
	border: none;
	outline:none;
	border-radius: 4px 0 0 4px;
}

.root {
	border-radius: 4px 4px 4px 4px;
	width: 37px;
}

.button-calendar {
	display: block;
	width: 50px;
	height: 34px;
	padding-top: 18px;
	text-align: center;
	border-radius: 0 4px 4px 0;
	background: #F2F2F2;
}

.modal-form-item .proos {
	display: flex;
}

.modal-title {
	margin: 0;
	margin-left: 70px;
}

.modal {
	position: relative;
	margin: auto;
	padding-top: 62px;
	padding-left: 68px;
	padding-right: 70px;
	padding-bottom: 70px;
	background-color: #ffffff;
}

.modal-form {
	padding: 0;
	margin: 0;
}

.modal-auth {
	position: absolute;
   top: 41%;
   left: 31.2%;
   width: 715px;
   border-radius: 30px;
   padding: 0;
}

.modal-content {
	width: 100%;
}

.modal-close-button {
	width: 50px;
	height: 50px;
	background: #F2F2F2;
	border: none;
	background-image: url("../images/imgsvg/close.svg");
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	margin-top: -7px;
	border-radius: 50%;
	margin-right: 71px;
}

.button-modal-form {
	font-family: "PT Sans", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 40px;
	align-items: center;
	text-transform: uppercase;
	color: #FFFFFF;
	background: #83B3D3;
	border-radius: 10px;
	border: none;
	width: 575px;
	height: 60px;
	margin-left: 70px;
	margin-bottom: 70px;
}

.button-plus {
	display: block;
   width: 50px;
   height: 34px;
   padding-top: 18px;
   text-align: center;
   border-radius: 0 4px 4px 0;
   background: #F2F2F2;
}

.button-minus {
	display: block;
   width: 45px;
   height: 42px;
   padding-top: 10px;
   text-align: center;
   border-radius: 4px 0 0 4px;
   background: #F2F2F2;
}

.page-body {
	width: 1200px;
	margin: 0 auto;
	background: #FFFFFF;
}

.logo-icon {
	transform: translate(-50%, 0);
	position: absolute;
	left: 50%;
	top: 0;
	z-index: 1;
}

.button {
	font-family: inherit;
	font-size: 16px;
	line-height: 16px;
	font-weight: normal;
	text-align: center;
	color: #ffffff;
	background-color: #000000;
	text-decoration: none;
	text-transform: uppercase;
}

.page-header {
	color: #000000;
	background: #FFFFFF;
}

.navigation {
	display: flex;
	justify-content: space-between;
	
}

.navigation-list {
	display: flex;
	flex-wrap: wrap;
	width: 500px;
	padding-left: 0;
	list-style: none;
	margin-left: 57px;
	
}

.popover {
	position: absolute;
	top: 18px;
	right: 0;
	z-index: 1;
	box-sizing: border-box;
	margin-top: 20px;
	width: 400px;
	font-family: "PT Sans", sans-serif;
	color: #000000;
	background-color: #ffffff;
	min-height: 186px;
	box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
	border-radius: 20px;
}

.opover-content {
	height: 100%;
}

.cart-button-pup {
	position: absolute;
   top: 22px;
   right: 13px;
   background-color: transparent;
   border: none;
   width: 40px;
   height: 40px;
   margin: 0;
   padding: 0;
	border: 3px solid transparent;
	box-sizing: border-box;
	border-radius: 10px;
	cursor: pointer;
}

.cart-button-pup:hover svg, 
.cart-button-pup:hover path {
	fill: #000000;
}

.cart-button-pup:focus {
	top: 22px;
   right: 13px;
   background-color: transparent;
   border: none;
   width: 40px;
   height: 40px;
   margin: 0;
   padding: 0;
	border: 3px solid #83B3D3;
	box-sizing: border-box;
	border-radius: 10px;
}

.cart-button-pup:active svg, 
.cart-button-pup:active path {
	fill: #000000;
}

.cart-button {
	position: absolute;
   top: 97px;
   right: 13px;
   background-color: transparent;
   border: none;
   width: 40px;
   height: 40px;
   margin: 0;
   padding: 0;
	border: 3px solid transparent;
	box-sizing: border-box;
	border-radius: 10px;
	cursor: pointer;
}

.cart-button:hover svg, 
.cart-button:hover path {
	fill: #000000;
}

.cart-button:focus {
	top: 97px;
   right: 13px;
   background-color: transparent;
   border: none;
   width: 40px;
   height: 40px;
   margin: 0;
   padding: 0;
	border: 3px solid #83B3D3;
	box-sizing: border-box;
	border-radius: 10px;
}

.cart-button:active svg, 
.cart-button:active path {
	fill: #000000;
}

.item-pix-pop {
	position: absolute;
	top: -19px;
	left: 186px;
	content: "";
	box-sizing: border-box;
	border: 1px solid;
	border: solid transparent 12px;
	border-bottom: solid #ffffff 10px;
}

.popob-img {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	cursor: pointer;
}

.cart-items {
	display: flex;
	margin: 0;
	padding: 0;
}

.cart-name {
	font-family: "PT Sans", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 40px;
	text-transform: none;
	margin: 0;
	padding: 0;
	cursor: pointer;
}

.cart-name-title {
	font-family: "PT Sans", sans-serif;
	font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 0px;
   text-transform: none;
   margin: 0;
   padding: 0;
}

.popov-button-navi {
	margin: 0;
	padding: 0;
}

.popover-content {
	border: 1px solid #E6E6E6;
	box-sizing: border-box;
	box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
	border-radius: 20px;
	padding: 25px;
	margin-bottom: 36px;
	z-index: 1;
}

.popup-container-close {
	display: ;
}

.cart-name-block {
	margin: 0;
	margin-top: -6px;
   margin-left: 16px;
	margin-bottom: 22px;
   padding: 0;
   width: 244px;
   text-align: left;
}

.cart-items-list {
	margin: 0;
	padding: 0;
}

.popov-button-navi {
	position: absolute;
	box-sizing: border-box;
	justify-content: center;
	font-family: PT Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 21px;
	display: flex;
	align-items: center;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	color: #FFFFFF;
	bottom: 0;
	border: none;
	width: 100%;
	height: 60px;
	background: #756257;
	border-radius: 0px 0px 20px 20px;

}

.popov-button-navi:hover {
	background: #615048;
	border-radius: 0px 0px 20px 20px;
}

.popov-button-navi:focus {
	background: #615048;
	border: 3px solid #83B3D3;
	border-radius: 0px 0px 20px 20px;
}

.popover-title {
	margin-top: 0;
	margin-bottom: 24px;
	font-size: 32px;
	line-height: 35px;
	color: #000000;
	text-transform: uppercase;
}

.navigation-link-current::before {
	position: absolute;
	margin-left: 11px;
	margin-right: 10px;
	right: 1px;
	bottom: -22px;
	left: 1px;
	height: 2px;
	background-color: #756257;
	content: "";
	z-index: 1;
}



.navigation-listP {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 21px;
	text-align: center;
	padding: 0;
	text-transform: uppercase;
	list-style: none;
	margin-top: 23px;
	margin-right: 72px;
}

.navigation-link {
	position: relative;
	font-family: "PT Sans", sans-serif;
	font-size: 20px;
	line-height: 26px;
	font-weight: 700;
	text-align: center;
	color: #000000;
	background-color: #ffffff;
	text-decoration: none;
	border: 3px solid transparent;
	padding-left: 12px;
	padding-right: 12px;
	box-sizing: border-box;
	border-radius: 10px;
	margin-right: 3px;
}

.navigation-link:hover {
	font-size: 20px;
	line-height: 26px;
	font-weight: 700;
	text-align: center;
	color: #000000;
	background-color: #ffffff;
	text-decoration: none;
	color: #756257;
}

.navigation-link:focus {
	border: 3px solid #83B3D3;
	box-sizing: border-box;
	border-radius: 10px;
}

.navigation-link:active {
	color: #000000;

}


.main-welcom {
	position: relative;
	color: #FFFFFF;
	background-color: #9D8981;
	text-align: center;
 	background-image: url("../images/index-background.jpg");
	width: 1200px;
	height: 485px;
	margin-top: 2px;
	margin-bottom: 63px;
}

.main-welcom::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 57px;
	background-image: url("../images/imgsvg/logo_VectorP.svg");
}

.logo-welcome {
	margin-top: 51px;
	width: 458px;
	height: 352px;
}

.grid-line {
	margin-top: 19px;
	margin-bottom: 0;
	width: 1200px;
	height: 56px;
}

.item-search-nav {
	margin-right: -3px;
}

.item-search-nav svg {
	justify-content: center;
	margin-top: 1px;
}

.like-item-heart {
	position: relative;
	margin-right: 21px;
}

.item-qty {
	position: absolute;
	font-family: "PT Sans", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 9px;
   line-height: 19px;
   text-align: center;
   top: -2px;
   right: -4px;
	width: 19px;
	height: 19px;
	color: #ffffff;
	background: #7DB550;
	border-radius: 50%;
}

.like-item-heart {
	padding-top: 9px;
	padding-left: 9px;
	padding-right: 9px;
	padding-bottom: 2px;
	border: 3px solid transparent;
	box-sizing: border-box;
	border-radius: 10px;
}

.like-item-heart:hover svg,
.like-item-heart:hover path {
	fill: #756257;
}

.like-item-heart:focus {
	fill: #756257;
	padding-top: 10px;
	padding-left: 9px;
	padding-right: 9px;
	padding-bottom: 1px;
	border: 3px solid #83B3D3;
	box-sizing: border-box;
	border-radius: 10px;
}

.like-item-heart:active {
	fill: #756257;
	opacity: 0.3;
}

.item-search-nav {
	padding-top: 10px;
	padding-left: 9px;
	padding-right: 9px;
	padding-bottom: 1px;
	border: 3px solid transparent;
	box-sizing: border-box;
	border-radius: 10px;
}

.item-search-nav:hover svg,
.item-search-nav:hover path {
	fill: #756257;
}

.item-search-nav:focus {
	fill: #756257;
	padding-top: 10px;
	padding-left: 9px;
	padding-right: 9px;
	padding-bottom: 1px;
	border: 3px solid #83B3D3;
	box-sizing: border-box;
	border-radius: 10px;
}

.item-search-nav:active svg,
.item-search-nav:active path {
	fill: #756257;
	opacity: 0.3;
}


.like-item-heart svg {
	justify-content: center;
	margin-top: 1px;
}

.button-navi {
	font-family: "PT Sans", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 21px;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
	text-decoration: none;
	border: 3px solid transparent;
	background: #756257;
	border-radius: 4px;
	padding-top: 5px;
   padding-left: 31px;
   padding-right: 31px;
   padding-bottom: 5px;
	cursor: pointer;
 }

 .button-navi:hover {
	background: #615048;
 }

 .button-navi:focus {
	padding-top: 5px;
   padding-left: 31px;
   padding-right: 31px;
   padding-bottom: 5px;
	background: #615048;
	border: 3px solid #83B3D3;
	cursor: pointer;
 }

 .button-navi:active {
	padding-top: 5px;
   padding-left: 31px;
   padding-right: 31px;
   padding-bottom: 5px;
   background: #615048;
   color: #FFFFFF;
   opacity: 0.3;
 }


.logo-sedona-town {
	color: #ffffff;
	background-color: #83B3D3;
}

.town-main {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #FFFFFF;
	
}

.text-u {
	font-family: "PT Sans", sans-serif;
	margin: -2px;
	margin-bottom: 33px;
	font-size: 30px;
	line-height: 36px;
	font-style: normal;
	font-weight: bold;
	color: #000000;
	text-align: center;
	text-transform: uppercase;
}

.text-p {
	font-family: "PT Sans", sans-serif;
	margin: 0;
	margin-bottom: 79px;
	font-style: normal;
	font-weight: normal;
	color: #333333;
	font-size: 22px;
	line-height: 36px;
	text-align: center;
}

h1 {
	font-family: "PT Sans", sans-serif;
	font-style: normal;
	font-size: 60px;
	line-height: 78px;
	font-weight: bold;
}

h2 {
	font-family: "PT Sans", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	line-height: 36px;
	text-align: center;
	text-transform: uppercase;
}

h3{
	font-family: "PT Sans", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	text-align: center;
	text-align: center;
	text-transform: uppercase;
}

.logo-sedona-town {
	text-align: center;
}

.advantages-item {
	text-align: center;
}

.advantages-title {
	font-family: "PT Sans", sans-serif;
	font-size: 24px;
	line-height: 28px;
	text-transform: uppercase;
	padding-right: 90px;
	padding-left: 90px;
	margin: 0;
	margin-top: 184px;
	margin-bottom: 19px;	
}


.text-interested {
	font-family: "PT Sans", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 26px;
	text-align: center;
	color: #333333;
	margin: 0;
	margin-bottom: 0;
}

.text-interested-crow {
	font-family: "PT Sans", sans-serif;
	font-style: normal;
	font-weight: normal;
	width: 1184px;
	font-size: 22px;
	line-height: 26px;
	text-align: center;
	color: #333333;
	margin: 0;
	margin-bottom: 59px;
}

.mailing-p {
	font-family: "PT Sans", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 26px;
	text-align: center;
	color: #FFFFFF;
}

.interested-in {
	margin: 0;
	margin-bottom: 30px;
}

.newsletter {
	text-align: center;
	margin-bottom: 119px;
}

.logo-sedona-town {
	display: flex;
	max-width: 1200px;
	background-color: #83B3D3;
	margin-top: 1px;
}

.sedona-town {
	display: flex;
	margin: auto;
	height: 384px;
}

.cont-text {
	font-family: "PT Sans", sans-serif;
	font-style: normal;
	color: #ffffff;
	font-weight: normal;
	font-size: 18px;
	font-weight: 21px;
	text-align: center;
	margin-top: 0;
	
}

.devil-bridge {
	display: flex;
	max-width: 1200px;
	background-color: #83B3D3;
}

.bridge-dev {
	display: flex;
	margin: auto;
	height: 384px;
}

.cont-H3 {
	text-align: center;
	margin: 0;
	margin-top: 97px;
	padding-right: 114px;
	padding-left: 115px;
	margin-bottom: 29px;
}

.number-items {
	font-family: "PT Sans", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
	margin-bottom: 30px;

}

.recommendations-block {
	text-align: center;
	
}

.advantages-list {
	display: flex;
	align-items: center;
	list-style: none;
	margin: 0;
	padding: 0;
}

.block-item-Pull {
	position: relative;
	width: 400px;
	height: 384px;
	background-color: rgba(131, 179, 211, 0.12);
	margin-top: 0;
}

.block-item-Pull svg {
	position: absolute;
	top: 89px;
	left: 41%;
}

.block-item-Pall {
	position: relative;
	width: 400px;
	height: 384px;
	background-color: rgba(131, 179, 211, 0.12);
}

.block-item-Pall svg {
	position: absolute;
	top: 85px;
	left: 42%;
}

.block-item {
	position: relative;
	background: rgba(131, 179, 211, 0.12);
	width: 400px;
	height: 384px;
	
}

.block-item svg {
	position: absolute;
	top: 91px;
	left: 41%;
}

.advantages-item {
	font-family: "PT Sans", sans-serif;
	font-style: normal;
	color: #000000;
	margin-top: 0;
}

.advantages {
	margin: 0 auto;
	text-align: center;
}

.advantages-description {
	text-align: center;
    padding-right: 75px;
    padding-left: 75px;
	 margin: 0;
}

.advantages-rip {
	width: 414px;
	margin: 0;
}

.block-itemA {
	width: 400px;
	height: 384px;
	background: rgba(131, 179, 211, 0.2);
	margin-bottom: 88px;
}

.block-item-Past {
	width: 400px;
	height: 384px;
	background: rgba(131, 179, 211, 0.12);
}

.advantages-list-post {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	
}

.advantages-title-top {
	width: 150px;
	margin-left: 31.5%;
	margin-top: 98px;
	margin-bottom: 27px;
}


.butt-search {
	font-family: "PT Sans", sans-serif;
	background: #756257;
	border-radius: 10px;
	font-size: 20px;
	line-height: 26px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	text-transform: uppercase;
	margin-left: 312px;
	margin-right: 313px;
	display: block;
	text-align: center;
	line-height: 60px;
	margin-bottom: 91px;
}

.butt-search:hover {
	background: #615048;
	border-radius: 10px;
}

.butt-search:active {
	background: #756257;
	border-radius: 10px;
	font-size: 20px;
	line-height: 26px;
	font-weight: bold;
	color: #FFFFFF;
	height: 60px;
	padding: 13px;
	text-decoration: none;
	border: 3px solid #83B3D3;
	box-sizing: border-box;
	border-radius: 10px;
	
}

.butt-search:focus {
	background: #615048;
	border-radius: 10px;
	opacity: 0.3;
}

.container-newsletter {
	color: #FFFFFF;
	background-color: #3A5863;
 	background-image: url("../images/background.jpg");
	width: 1200px;
	height: 411px;
	margin: 0;
	text-align: center;
}

.mailing-letter {
	text-align: center;
	padding-top: 92px;
	
}


.mailing-title {
	font-family: "PT Sans", sans-serif;
	font-style: normal;
	font-weight: bold;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
	margin-bottom: 30px;
}

.mailing-p {
	font-family: "PT Sans", sans-serif;
	font-style: normal;
	font-weight: normal;
	color: #FFFFFF;
	font-size: 22px;
	line-height: 26px;
	text-align: center;
	margin: 0;
	margin-bottom: 46px;
}

.footer-phone {
	position: absolute;
	font-family: "PT Sans", sans-serif;
	border: 3px solid transparent;
	border-radius: 10px;
	left: 34.6%;
   top: 14%;
   margin: 3px;
   padding: 15px;
   font-style: normal;
   font-weight: normal;
   font-size: 40px;
   line-height: 40px;
   color: #000000;
   text-decoration: none;
	
}

.footer-phone:hover {
	color: #756257;
}

.footer-phone:focus {
	padding: 15px;
	color: #756257;
	border: 3px solid #83B3D3;
	border-radius: 10px;
	
}


.footer-phone:active {
	color: #756257;
	opacity: 0.3;
}



.page-footer {
	font-family: "PT Sans", sans-serif;
	display: flex;
	justify-content: space-between;
	position: relative;
	align-items: center;
	color: #FFFFFF;
	background: #FFFFFF;
	padding-top: 15px;
   padding-bottom: 22px;
}

.footer-social-list {
	display: flex;
	flex-wrap: wrap;
 	width: 270px;
 	padding: 0;
 	list-style-type: none;
}

.footer-social-item {
	width: 40px;
	height: 40px;
	margin-right: -2px;
	border: 3px solid transparent;
	border-radius: 10px;
}

.item-soc {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-right: 20px;
	padding: 0;
	width: 43px;
	height: 43px;
	border: 3px solid transparent;
	box-sizing: border-box;
	border-radius: 10px;
}

.item-soc:hover svg,
.item-soc:hover path {
	fill: #68A2CA;
}

.item-soc:focus {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0;
	width: 43px;
	height: 43px;
	border: 3px solid #83B3D3;
	box-sizing: border-box;
	border-radius: 10px;
}

.footer-academy {
	margin-top: 10px;
   margin-right: -17px;
}

.footer-acatext {
	padding: 14px;
   border: 3px solid transparent;
   border-radius: 10px;
}

.footer-acatext img {
	margin-right: 12px;
}

.footer-acatext:hover {
	
}

.footer-acatext:focus {
	padding: 14px;
   border: 3px solid #83B3D3;
   border-radius: 10px;
}

.footer-acatext:active {
	padding: 14px;
   border: 3px solid #83B3D3;
   border-radius: 10px;
}


/*---------------Работа с каталого--------------------*/

.main-catalog {
	font-family: "PT Sans", sans-serif;
	font-size: 18px;
	color: #000000;
	background-color: #ffffff;
	padding-bottom: 0;
}

.catalog-filter-group {
	position: relative;
	border: none;
	margin: 0;
	margin-left: 14px;
	margin-right: 68px;
	padding: 0;
}

.catalog-filter-radio {
	position: relative;
	border: none;
	margin: 0;
	margin-right: 166px;
	padding: 0;
}

.catalog-filter-group-fieldset {
	position: relative;
	border: none;
	margin: 0;
	margin-right: 81px;
	padding: 0;
}

.range-wrapper-inputs {
	display: flex;
	justify-content: space-between;
}

.clon {
	display: flex;
	justify-content: space-between;
}

.range-input-min {
	border-top: 2px solid #ffffff;
	border-left: 2px solid #ffffff;
	border-right: 1px solid #ffffff;
	border-bottom: 2px solid #ffffff;
	padding-top: 9px;
   padding-left: 6px;
   padding-right: 14px;
   padding-bottom: 10px;
	border-radius: 4px 0px 0px 4px;
	width: 122.5px;

	
}
.range-input-max {
	border-top: 2px solid #ffffff;
	border-left: 1px solid #ffffff;
	border-right: 2px solid #ffffff;
	border-bottom: 2px solid #ffffff;
	padding-top: 10px;
	padding-left: 2px;
	padding-right: 15px;
	padding-bottom: 12px;
	border-radius: 0px 4px 4px 0px;
	width: 122.5px;
}

.catalog-filter-label {
	color: #7A797B;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
	appearance: none;
	margin: 0;
}


.range-scale {
	position: relative;
	height: 4px;
	margin-top: 28px;
	background-color: #636B6D;
}

.range-input {
	width: 30px;
	padding: 0 2px;
	font: inherit;
	color: white;
	text-align: center;
	background-color: transparent;
	border: none;
}

.range-bar {
	position: absolute;
	height: 4px;
	background-color: #ffffff;
}

.range-toggle {
	position: absolute;
	width: 20px;
	height: 20px;
	background: #ffffff;
	border-radius: 5px;
	cursor: pointer;
	border: none;
	padding: 0;
}

.range-toggle:hover {
	background: #FFFFFF;
	border: 3px solid #83B3D3;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
}

.range-toggle:active,
.range-toggle:focus {
	background: #FFFFFF;
	border: 2px solid #83B3D3;
	box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
	border-radius: 5px;
}

.toggle-min {
 top: -8px;
 left: 0px;
}

.toggle-max {
top: -8px;
right: 0px;
}


.selection-block {
 	background-image: url("../images/catalog-background-cat.jpg");
	color: #FFFFFF;
	background-color: #3A5863;
	height: 408px;
	margin-top: 2px;
	margin-bottom: 44px;
}

.text-top-fieldset {
	font-family: "PT Sans", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 26px;
	margin-bottom: 36px;
}

.text-top-field {
	font-family: inherit;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	padding: 0;
	line-height: 26px;
	margin-bottom: 30px;
	
	
}

.catalog-filter-list {
	font-family: "PT Sans", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 23px;
	margin-top: 0;
   margin-left: 1px;
	padding: 0;
	list-style: none;
}

.catalog-filter-item {
	margin-bottom: 13px;
}

.control {
	position: relative;
	margin-bottom: 10px;
	padding-left: 40px;
}

.control-input {
	display: none;
 }

.control-input[type="checkbox"]:checked + .control-mark::before,
.control-input[type="checkbox"]:checked + .control-mark::after {
	content: "";
	
	/*position: absolute;
	top: 9px;
	left: 4px;
	width: 12px;
	height: 2px;
	background-color: #3F5E72;*/
	
}

.control-input[type="checkbox"]:checked + .control-mark::after {
	
	
	/*transform: rotate(-45deg);*/
}

.control-input[type="checkbox"]:checked + .control-mark::before {
	
	/*transform: rotate(45deg);*/
}

.control-mark-check {
	background-image: url("../images/imgsvg/check-mark.svg");
	background-repeat: no-repeat;
}

.control-mark {
	position: absolute;
	top: 1px;
	left: 0;
	width: 14.5px;
	height: 13.5px;
	background-color: #FFFFFF;
	border: 3px solid transparent;
	border-radius: 4px;
}

.control-mark:hover {
	background: #C4D1E1;
	border-radius: 4px;
}

.control-mark:focus {
	background: #C4D1E1;
	border: 3px solid transparent;
	border-radius: 4px;
}

.control-mark:active {
	background: rgba(255, 255, 255, 0.6);
	border: 3px solid #83B3D3;
	border-radius: 4px;
}

.control-input[type="radio"] + .control-mark {
	border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
	position: absolute;
	top: 2px;
	left: 2px;
	width: 10px;
	height: 10px;
	background-color: #3F5E72;
	border-radius: 50%;
	content: "";
}

.control-lable {
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 23px;
}

.text-fieldset p {
	margin-top: 0;
	margin-bottom: 0;
}

.inner-header-title {
	padding-left: 15px;
   padding-top: 32px;
	margin-top: 0;
	margin-bottom: 0;
}

.block-rtx {
	display: flex;
	margin: 0;
	padding: 0;

}

.text-fieldset {
	font-family: "PT Sans", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 23px;
	margin: 0;
	padding: 0;
	
}

.text-fieldset p {
	padding: 0;
}


.navigation-it {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	height: 42px;
	padding: 0;
   padding-left: 9px;
   margin: -4px;
	margin-bottom: 25px;
   color: #ffffff;
}

.navigation-items {
	margin-right: 1px;
}

.navigation-items a:hover {
	color: #FFFFFF;
	opacity: 0.6;
}

.navigation-items a:focus {
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 2px;
	padding-bottom: 2px;
	border: 3px solid #83B3D3;
	box-sizing: border-box;
	border-radius: 4px;
	color: #FFFFFF;
	opacity: 0.6;
}
.navigation-items a:active {
	color: #FFFFFF;
	opacity: 0.3;
}

/*.navigation-items:hover svg,
.navigation-items:hover path {
	fill: #68A2CA;
}*/

.icon-svg {
	margin-right: 0;
	opacity: 0.6;
}

.navigation-items a{
	margin-right: 10px;
	margin-left: 0px;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	color: #ffffff;
	margin-right: -1px;
	text-decoration: none;
	color: #FFFFFF;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 2px;
	padding-bottom: 2px;
	border: 3px solid transparent;
	box-sizing: border-box;
	border-radius: 4px;
}

.block-post {
	display: flex;
	justify-content: space-between;
	align-items: center;	
	margin-left: 14px;
	margin-right: 11px;
	margin-bottom: 42px;

}


.butt-control-block {
	text-align: center;
	
	
}

.butt-control-block p {
	margin: 0;
}

.cotrols-to {
	font-family: "PT Sans", sans-serif;
   border: none;
	font-size: 16px;
	line-height: 21px;
   color: #ffffff;
	text-transform: uppercase;
	font-style: normal;
	font-weight: bold;
   width: 160px;
	height: 48px;
	background-color: #83B3D3;
	border-radius: 4px;
	padding: 0;
	margin-top: 60px;
	margin-bottom: 20px;
	cursor: pointer;
}

.cotrols-to:hover {
	margin-top: 60px;
	background-color: #68A2CA;
	border-radius: 4px;
	
}

.cotrols-to:active {
	margin-top: 60px;
	background: #68A2CA;
	border: 3px solid #FFFFFF;
	border-radius: 4px;
	
}

.cotrols-to:focus {
	opacity: 0.3;
	background: #68A2CA;
	
}

.cotrols-off {
	font-family: "PT Sans", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 23px;
	text-align: center;
	color: #FFFFFF;
	margin: 0;
	
}

.price-control {
	display: block;
	margin-top: 0;
	margin-bottom: 32px;
	margin-left: 0;
	padding-left: 0;
	overflow: hidden;
	list-style: none;
	
}

.price-control li {
	box-sizing: border-box;
	text-align: center;
	padding: 10px;
	float: left;   
	width: 187px;
	height: 48px;
	border: 2px solid #ffffff;
}

.block-li-first {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 4px 0 0 4px;
}

.block-li-second {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 0 4px 4px 0;
}

.select-control {
	color: #B7B7B7;
	border: none;
}

/*
  ------------------Муню каталога-----------------
*/
.menu-hotel {
	display: grid;
	grid-template-columns: 1056px 1056px 1056px;
	grid-template-columns: 1fr;
	margin: 0;
	padding: 0;
	margin-right: 72px;
	margin-left: 72px;
	
}

.abode {
	display: grid;
	grid-template-columns: 180px 716px 160px;
	align-items: center;
	background-color: #ffffff;
	margin-bottom: 16px;
}

.img-catalog {
	padding-top: 16px;
	padding-left: 0;
}

.img-catalog img:hover {
	opacity: 0.6;
}

.img-catalog img:active {
	margin: -3px;
	border: 3px solid #83B3D3;
}

.hr-line {
   margin-bottom: 13px;
	width: 1056px;
	border: 1px solid #E6E6E6;
	
}

.butt-sh-more {
	margin-top: 7px;
	margin-bottom: 21px;
	text-align: center;
}

.sorting {
	font-family: "PT Sans", sans-serif;
	font-size: 30px;
	color: #000000;
	margin-right: 125px;
	font-weight: bold;
	text-transform: uppercase;     
}

.button-controls {
	background-color: #ffffff;
}

.sorting-type-form {
	width: 282px;
   height: 44px;
   border: 2px solid #E6E6E6;
   border-radius: 4px;
   margin-left: -6px;
	
}

.sorting-type {
	display: flex;
	justify-content: space-between;
	padding-left: 16px;
   padding-right: 16px;
   padding-top: 10px;
	
}

.sorting-type p {
	margin: 0;
}

.button-light {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.butt-light {
	margin-left: 8px;
	width: 48px;
	height: 48px;
	text-align: center;
	padding-top: 12px;
	border: 2px solid #E6E6E6;
	box-sizing: border-box;
	border-radius: 4px;
	cursor: pointer;
}

.b-three {
	border: 2px solid #000000;
}

.butt-light:hover {
	border: 2px solid #83B3D3;
	box-sizing: border-box;
	border-radius: 4px;
}

.butt-light:active {
	border: 2px solid #000000;
	box-sizing: border-box;
	border-radius: 4px;

}

.butt-light:focus {
	border: 2px solid #83B3D3;
	box-sizing: border-box;
	border-radius: 4px;
}

.information {
	font-family: "PT Sans", sans-serif;
	width: 500px;
	font-size: 20px;
	line-height: 26px;
	color: #333333;
	padding-top: 0;
	margin-left: 19px;
}

.info-abode {
	font-style: normal;
   font-weight: bold;
   font-size: 24px;
   line-height: 29px;
   text-transform: none;
   margin-top: 8px;
   margin-bottom: 0;
   text-align: left;
   padding-top: 2px;
   padding-bottom: 2px;
   padding-left: 15px;
   padding-right: 15px;
   border: 3px solid transparent;
   box-sizing: border-box;
   border-radius: 10px;
	cursor: pointer;
	
}

.info-abode:hover {
	color: #756257;
}

.info-abode:focus,
.info-abode:active {
	font-style: normal;
   font-weight: bold;
   font-size: 24px;
   line-height: 29px;
   text-transform: none;
   margin-top: 8px;
   margin-bottom: 0;
   text-align: left;
   padding-top: 2px;
   padding-bottom: 2px;
   padding-left: 15px;
   padding-right: 15px;
   border: 3px solid #83B3D3;
   box-sizing: border-box;
   border-radius: 10px;
}

.rumbik {
	display: flex;
	justify-content: space-between;
	font-family: "PT Sans", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
    line-height: 23px;
    width: 236px;
    margin-top: -3px;
    padding-left: 19px;
    padding-bottom: 30px;
}

.rating {
	font-family: "PT Sans", sans-serif;
	background-color: #F2F2F2;
   border: none;
   color: #333333;
	
}

.rating {
	font-family: "PT Sans", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 21px;
	text-align: center;
	text-transform: uppercase;
	width: 160px;
	padding-top: 9px;
	padding-bottom: 10px;
	
}

.buttons {
	font-family: "PT Sans", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 21px;
	text-transform: uppercase;
	line-height: 40px;
}

.cotrols-more {
   font-family: "PT Sans", sans-serif;
   border: none;
	font-size: 16px;
	line-height: 21px;
   color: #ffffff;
	text-transform: uppercase;
	font-style: normal;
	font-weight: bold;
   width: 151px;
	height: 37px;
	background-color: #756257;
	border-radius: 4px;
	margin-right: 3px;
	margin-left: 17px;
	margin-bottom: 5px;
	padding: 0;
	cursor: pointer;
}

.cotrols-more:hover {
	background: #615048;
	border-radius: 4px;
}

.cotrols-more:active {
	background: #615048;
	border: 3px solid #83B3D3;
	border-radius: 4px;
}

.cotrols-more:focus {
	color: #FFFFFF;
	opacity: 0.3;
	background: #615048;
}

.cotrols-favorites {
	font-family: "PT Sans", sans-serif;
   border: none;
	font-size: 16px;
	line-height: 21px;
   color: #ffffff;
	text-transform: uppercase;
	font-style: normal;
	font-weight: bold;
   width: 160px;
	height: 37px;
	background-color: #83B3D3;
	border-radius: 4px;
	padding: 0;
	cursor: pointer;
}

.favorites-top {
	background: #7DB54F;
	border-radius: 4px;
}

.cotrols-favorites:hover {
	background: #68A2CA;
	border-radius: 4px;
}

.cotrols-favorites:active {
	background: #615048;
	border: 3px solid #756257;
	border-radius: 4px;
}

.cotrols-favorites:focus {
	color: #FFFFFF;
	opacity: 0.3;
	background: #68A2CA;
}

.rating-item {
	margin: 0;
	width: 160px;
}

.rating-result{
	text-align: center;
	margin-top: 13px;
   margin-bottom: 60px;
}


.rating-result span {
	font-size: 18px;
}
.rating-result > span:before {
	content: '★';
}
.rating-result > span.active {
	background-color: #ffffff;
	color: #83B3D3;
}

.button-show-more {
	font-family: "PT Sans", sans-serif;
   border: none;
	font-size: 20px;
	line-height: 26px;
   color: #ffffff;
	text-transform: uppercase;
	font-style: normal;
	font-weight: bold;
   width: 625px;
	height: 55px;
   text-decoration: none;
   display: inline-block;
	background-color: #83B3D3;
	border-radius: 4px;
	margin-top: 8px;
	line-height: 56px;
}

.button-show-more:hover {
	background: #68A2CA;
	border-radius: 4px;
}

.button-show-more:active {
	border: none;
	font-size: 20px;
	line-height: 26px;
   color: #ffffff;
	text-transform: uppercase;
	font-style: normal;
	font-weight: bold;
   width: 625px;
	height: 49px;
   text-decoration: none;
   display: inline-block;
	border-radius: 4px;
	margin-top: 8;
	line-height: 50px;
	border: 3px solid #83B3D3;
	border-radius: 4px;
}

.button-show-more:focus {
	opacity: 0.3;
}

.newsletter-email {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	
}

.page-mail-title {
	font-family: "PT Sans", sans-serif;
	font-size: 30px;
	line-height: 36px;
	font-style: normal;
	font-weight: bold;
	margin-top: 0;
	color: #000000;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 29px;
}

.mail-title{
	font-family: "PT Sans", sans-serif;
	font-size: 22px;
	line-height: 26px;
	text-align: center;
	color: #333333;
	margin-top: 0;
	margin-bottom: 47px;
}


.field {
	font-family: "PT Sans", sans-serif;
	background: #F2F2F2;
	width: 559px;
	height: 60px;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 22px;
	padding-right: 19px;
	font-size: 18px;
	line-height: 26px;
	color: #000000;
	font-style: normal;
	border-radius: 10px 0px 0px 10px;
	border: none;
}

.newsletter-button {
	font-family: "PT Sans", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 26px;
	align-items: center;
	text-align: center;
	padding: 0;
	color: #FFFFFF;
	text-transform: uppercase;
	width: 200px;
	height: 60px;
	background-color: #f1f1f1;
	background: #83B3D3;
	border-radius: 0px 10px 10px 0px;
	border: none;
	cursor: pointer;
}

.newsletter-button:hover {
	background: #68A2CA;
	border-radius: 0px 10px 10px 0px;
}

.newsletter-button:active{
	background: #68A2CA;
	border: 3px solid #756257;
	border-radius: 0px 10px 10px 0px;
	
}

.newsletter-button:focus {
	background: #68A2CA;
	border-radius: 0px 10px 10px 0px;
	opacity: 0.3;
}

.btn {
	font-family: "PT Sans", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 26px;
	color: #FFFFFF;
	border: none;
	outline: none;
	padding: 0;
	width: 55px;
	height: 55px;
	margin-right: 3px;
   margin-top: -1px;
	background-color: #83B3D3;
	cursor: pointer;
	border-radius: 4px;
 }

 .btn:hover {
	background: #68A2CA;
	border-radius: 4px;
 }

 .btn:active {
	padding: 7px;
	background: #68A2CA;
	border: 3px solid #756257;
	border-radius: 4px;
 }

 .btn:focus {
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 26px;
	align-items: center;
	text-align: center;
	text-transform: uppercase;
	background-color: #F2F2F2;
	color: #000000;

 }

 .block-r {
	display: flex;
  	justify-content: space-between;
  	padding: 0;
   margin-top: 17px;
   margin-bottom: 89px;
}

 .hotels-page {
	font-family: "PT Sans", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 23px;
	color: #333333;
 }

 .number-hotels {
	 display: flex;
	 align-items: center;
	 

 }

 .number-hot {
	font-family: "PT Sans", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 23px;
	width: 160px;
	height: 48px;
	color: #000000;
	border: 2px solid #E6E6E6;
	padding: 10px;
	margin-left: 51px;
	border-radius: 4px;
 }

/*

.test-kas {
	border: 1px solid #3A5863;
	max-width: 1200px;
	margin: 0 auto;
	height: 384px;
}

.block-one {
	background-color: #3A5863;
	line-height: 100px;
	font-size: 25px;
	font-weight: 700;
	text-align: center;
	color: #E5E5E5;
}

.block-two {
	background-color: #83B3D3;
	line-height: 100px;
	font-size: 25px;
	font-weight: 700;
	text-align: center;
	color: #E5E5E5;
}
*/